.nav {
    background-color: #e5e5e5;
    box-shadow: 2px 2px 10px;
    margin-bottom:20px;
}
.container-fluid {
    max-width:900px;
    padding: 20px;
}
.btn {
    cursor: pointer;
}
.program-name {
    font-size: 1.9em;
    font-weight: bold;
}
.discount-price {
    font-size: 3.2em;
    font-weight: bold;
    color: #0A82C5;
    line-height: 1;
}
.normal-price {
    font-size: 1.5em;
    font-weight: bold;
    line-height: 1;
}
.discount-label-text {
    font-size:2em;
    margin-bottom:0px;
}
.old-price {
    color:grey;
}
.strike {
    text-decoration: line-through;
}
.text-shadow {
    text-shadow: 1px 2px 2px black;
}
.footer {
    padding:5px;
    background-color:#1B6389;
    color:#fff;
}
.guarantee {
    background-color: #F1F1F1;
}
.business-details {
    display: block;
    margin: auto;
    margin-left: 30px;
    border-left: 1px solid #d8cece;
    padding-left: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
}

/* Ribbon */
.ribbon {
     font-size: 16px !important;
     /* This ribbon is based on a 16px font side and a 24px vertical rhythm. I've used em's to position each element for scalability. If you want to use a different font size you may have to play with the position of the ribbon elements */

     width: 90%;

     position: relative;
     background: #ba89b6;
     color: #fff;
     text-align: center;
     padding: 1em 2em; /* Adjust to suit */
     margin: 2em auto 3em; /* Based on 24px vertical rhythm. 48px bottom margin - normally 24 but the ribbon 'graphics' take up 24px themselves so we double it. */
}
.ribbon:before, .ribbon:after {
     content: "";
     position: absolute;
     display: block;
     bottom: -1.5em;
     border: 1.5em solid #986794;
     z-index: -1;
}
.ribbon:before {
     left: -1.5em;
     border-right-width: 1.5em;
     border-left-color: transparent;
}
.ribbon:after {
     right: -1.5em;
     border-left-width: 1.5em;
     border-right-color: transparent;
}
.ribbon .ribbon-content:before, .ribbon .ribbon-content:after {
     content: "";
     position: absolute;
     display: block;
     border-style: solid;
     border-color: #804f7c transparent transparent transparent;
     bottom: -1em;
}
.ribbon .ribbon-content:before {
     left: 0;
     border-width: 1em 0 0 1em;
}
.ribbon .ribbon-content:after {
     right: 0;
     border-width: 1em 1em 0 0;
}
