a {
    text-decoration: none;
    color: inherit;
}
a:hover {
    color: inherit;
    cursor: pointer;
}
a.card-link {
    color: #0A82C5;
}
a.card-link:hover {
    color: #0A82C5;
    font-weight: bold;
}
.nav {
    /*background-color: #0A82C5;*/
    background-color: white;
    color:black;
    z-index: 3;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    align-items: center;
}
.nav-item {
    font-weight: bold;
}
.nav-item:hover {
    color: #0A82C5;
    padding:0px auto;
}
.container-fluid {
    margin-top:10px;
}
.btn {
    cursor: pointer;
}
.offer {
    margin:auto;
    max-width:900px;
}
.background-offer {
    background-image: url('https://image.freepik.com/free-photo/sport-active-running-fitness-background_1220-1011.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: -15px;
    margin-right: -15px;
}
.card {
    position:relative;
    z-index:2;
    margin-top:70px;
    margin-bottom:70px;
}
.card-body {
    text-align: center;
    background-color:rgb(255,255,255,0.4);
    text-transform: uppercase;
}
.offer-text-1 {
    font-size:3em;
}
.offer-text-2 {
    font-size:2em;
}
.offer-text-3 {
    font-size:2em;
}
.close {
    cursor:pointer;
}
.row.steps {
    background-color: #1b6389;
    padding: 20px 0px;
}
.steps-container {
    max-width: 900px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    margin: auto;
}
.step-number {
    font-size: 5em;
    color:yellow;
    font-weight:bold;
    padding-right:0;
}
.step-text {
    padding-left:inherit;
}
.step-title {
    font-size: 1.5em;
    color:yellow;
}
.step-content {
    color:#fff;
}
.row.benefits {
    padding-top:50px;
    background-color: #0A82C5;
    color: #fff;
}
.bullet-point-benefits {
    max-width:900px;
    margin:auto;
}
.benefit-item {
    padding:15px 0px;
}
button {
    cursor:pointer;
}
.row.testimonials {
    padding: 50px 0px;
}
.testimonials {
    max-width:900px;
    margin: auto;
}
.testimonial-image {
    max-width: 200px;
}
hr {
    margin: 50px 0px;
}
.jumbotron {
    background-color:inherit;
}
.img-logo {
    max-height: 35px;
}
img {
    max-width:100%;
}
.text-center {
    text-align: center;
}
footer {
    height:60px;
    background-color: #0A82C5;
    color:white;
    padding:20px;
}
.social-buttons-container {
    display: flex;
    justify-content: flex-end;
}
.author {
    max-width: 900px;
    margin:auto;
}
.align-v-center {
    align-items: center!important;
}
.align-h-center {
    justify-content: center!important;
    margin: auto;
    display: block;
    text-align: center;
}
.dark-blue {
    background-color: #1b6389!important;
    color:white;
}

@media screen and (max-width: 780px) {
    .offer-text-1 {
        font-size:3em;
    }
    .offer-text-2 {
        font-size:2em;
    }
    .offer-text-3 {
        font-size:2em;
    }
}

@media screen and (max-width: 500px) {
    .offer-text-1 {
        font-size:2em;
    }
    .offer-text-2 {
        font-size:1em;
    }
    .offer-text-3 {
        font-size:1em;
    }
}
